@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #FBF8FF;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
